<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="A">A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="B">B</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
    </button>
    </div>
    </nav>


    <h1>Untitled Text Adventure </h1>
    <p>You wake up in a cold room on a metal cot,<p>
      <p>you look around and see that you're chained to the cot,<p>
      <p>the chains look loose and rusty, do you<p>
      <p> A. Attempt to break the chains <br /><br />B. Look around.<p>
        <ul>
    <a href="/A"><li>A</li></a>
    <p><a href="/B"><li>B</li></a><p>
    <a href="C"><li>C</li></a>
    <a href="D"><li>D</li></a>
    <a href="E"><li>E</li></a>
    <a href="Chapter_1"><li>Chap 1.</li></a>
    <p><a href="/Go"><li>Go page</li></a><p>

  <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiRx-jM2aXXAhVFw2MKHfZJD24Q3ywIKTAA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DcU8HrO7XuiE&usg=AOvVaw3b4rwfiBKlZ59N9vvw_LYq" target="_blank"><img src="https://i2.wp.com/littleinfocue.com/wp-content/uploads/2017/12/5a25a7291400001d57b6b5a8.jpeg?fit=1910%2C1000"/><a/>

      <p>{{ test_variable }}</p>



  <body>
</html>
